body {
  background-color: white;
}

h1 {
  text-align: center;
}

h3 {
  font-weight: bold;
  text-align: center;
}

#all {

}

.head {
  border-style: solid;
  border-width: 1px;
}

.nav {
  border-style: solid;
  border-width: 1px;
}

#beef {
  display: flex;
}

#summary {
  text-align: left;
  width: 25%;
  border-right-style: solid;
  border-right-width: 1px;
  margin: 2px;
}

#stuff {
  align-content: center;
  width: 74%;
  border-style: dotted;
  border-color: blue;
  margin: 2px;
}

.foot {
  text-align: center;
}